name: Linting and code quality check

on:
  workflow_call:
    inputs:
      black-version:
        required: false
        type: string
        default: '25.1.0'
      flake8-version:
        required: false
        type: string
        default: '7.3.0'
      pylint-version:
        required: false
        type: string
        default: '3.3.8'
      ruff-version:
        required: false
        type: string
        default: '0.12.10'
      BASH_SEVERITY:
        required: false
        type: string
        default: 'style'
      VALIDATE_BASH:
        required: false
        type: boolean
        default: true
      VALIDATE_BASH_EXEC:
        required: false
        type: boolean
        default: true
      VALIDATE_CSS:
        required: false
        type: boolean
        default: true
      VALIDATE_DOCKERFILE_HADOLINT:
        required: false
        type: boolean
        default: true
      VALIDATE_GITHUB_ACTIONS:
        required: false
        type: boolean
        default: true
      VALIDATE_HTML:
        required: false
        type: boolean
        default: true
      VALIDATE_JAVASCRIPT_ES:
        required: false
        type: boolean
        default: true
      VALIDATE_JAVASCRIPT_STANDARD:
        required: false
        type: boolean
        default: true
      VALIDATE_JSON:
        required: false
        type: boolean
        default: true
      VALIDATE_MARKDOWN:
        required: false
        type: boolean
        default: true
      VALIDATE_POWERSHELL:
        required: false
        type: boolean
        default: true
      VALIDATE_RENOVATE:
        required: false
        type: boolean
        default: true
      VALIDATE_XML:
        required: false
        type: boolean
        default: true
      VALIDATE_YAML:
        required: false
        type: boolean
        default: true

jobs:
  flake8:
    name: flake8
    if: ${{ inputs.flake8-version != '' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install apt dependencies
      run: |
        sudo apt-get install -y -qq python3 python3-pip
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install flake8==${{ inputs.flake8-version }}
        flake8 --version
    - name: Lint with Flake8
      run: |
        flake8 --config=.flake8 --count --statistics --show-source .
  pylint:
    name: pylint
    if: ${{ inputs.pylint-version != '' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install apt dependencies
      run: |
        sudo apt-get install -y -qq python3 python3-pip
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install pylint==${{ inputs.pylint-version }}
        pylint --version
    - name: Configure Pylint
      if: ${{ hashFiles('.pylintrc') == '' }}
      run: |
        echo ".pylintrc does not exists. Will be downloaded."
        wget https://raw.githubusercontent.com/mundialis/github-workflows/main/linting-config-examples/.pylintrc
    - name: Configure Pylint - allowed to fail
      if: ${{ hashFiles('.pylintrc_allowed_to_fail') == '' }}
      run: |
        echo ".pylintrc_allowed_to_fail does not exists. Will be downloaded."
        wget https://raw.githubusercontent.com/mundialis/github-workflows/main/linting-config-examples/.pylintrc_allowed_to_fail
    - name: Lint with Pylint
      run: |
        pylint .
    - name: Lint with Pylint - More strict, allowed to fail
      run: |
        pylint --rc-file=.pylintrc_allowed_to_fail .
  black:
    name: black
    if: ${{ inputs.black-version != '' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install apt dependencies
      run: |
        sudo apt-get install -y -qq python3 python3-pip
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install black==${{ inputs.black-version }}
        black --version
    - name: Check code style with Black
      run: |
        black --check --diff --line-length 79 .
    - name: Create and upload code suggestions to apply for black
      id: diff-black
      uses: OSGeo/grass/.github/actions/create-upload-suggestions@main
      with:
        tool-name: black
        # extra-upload-changes: .clang-format
  ruff:
    name: ruff
    if: ${{ inputs.ruff-version != '' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install apt dependencies
      run: |
        sudo apt-get install -y -qq python3 python3-pip
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install ruff==${{ inputs.ruff-version }} toml-union
        ruff --version
    - name: Configure ruff
      run: |
        echo "Download ruff.toml..."
        wget https://raw.githubusercontent.com/mundialis/github-workflows/main/linting-config-examples/ruff.toml -O ruff-github-workflows.toml
    - name: Merge ruff config
      run: |
        # Merge shared config with local one. Also works if no ruff.toml exists.
        toml-union ruff.toml ruff-github-workflows.toml -o ruff-merged.toml
    - name: Run ruff (output annotations on fixable errors)
      run: |
        ruff check --config ruff-merged.toml --output-format=github . --preview --unsafe-fixes
      continue-on-error: true
    - name: Run ruff (apply fixes for suggestions)
      run: |
        ruff check --config ruff-merged.toml . --preview --fix --unsafe-fixes
    - name: No diff for merged ruff.toml
      if: ${{ hashFiles('ruff-github-workflows.toml') != '' }}
      run: |
        rm ruff-github-workflows.toml && rm ruff-merged.toml
    - name: Create and upload code suggestions to apply for ruff
      id: diff-ruff
      if: ${{ !cancelled() }}
      uses: OSGeo/grass/.github/actions/create-upload-suggestions@main
      with:
        tool-name: ruff
        # extra-upload-changes: ruff.toml
  super-linter:
    name: super-linter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
      - name: Lint code base
        uses: super-linter/super-linter/slim@ffde3b2b33b745cb612d787f669ef9442b1339a6 # v8.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          # (https://github.com/super-linter/super-linter/blob/main/README.md)
          BASH_SEVERITY: ${{ inputs.BASH_SEVERITY }}
          VALIDATE_BASH: "${{ inputs.VALIDATE_BASH == true && true || '' }}"
          VALIDATE_BASH_EXEC: "${{ inputs.VALIDATE_BASH_EXEC == true && true || '' }}"
          VALIDATE_CSS: "${{ inputs.VALIDATE_CSS == true && true || '' }}"
          VALIDATE_DOCKERFILE_HADOLINT: "${{ inputs.VALIDATE_DOCKERFILE_HADOLINT == true && true || '' }}"
          VALIDATE_GITHUB_ACTIONS: "${{ inputs.VALIDATE_GITHUB_ACTIONS == true && true || '' }}"
          VALIDATE_HTML: "${{ inputs.VALIDATE_HTML == true && true || '' }}"
          VALIDATE_JAVASCRIPT_ES: "${{ inputs.VALIDATE_JAVASCRIPT_ES == true && true || '' }}"
          VALIDATE_JAVASCRIPT_STANDARD: "${{ inputs.VALIDATE_JAVASCRIPT_STANDARD == true && true || '' }}"
          VALIDATE_JSON: "${{ inputs.VALIDATE_JSON == true && true || '' }}"
          VALIDATE_MARKDOWN: "${{ inputs.VALIDATE_MARKDOWN == true && true || '' }}"
          VALIDATE_POWERSHELL: "${{ inputs.VALIDATE_POWERSHELL == true && true || '' }}"
          VALIDATE_RENOVATE: "${{ inputs.VALIDATE_RENOVATE == true && true || '' }}"
          VALIDATE_XML: "${{ inputs.VALIDATE_XML == true && true || '' }}"
          VALIDATE_YAML: "${{ inputs.VALIDATE_YAML == true && true || '' }}"
